body {
  background-color: #eeeeee;
}
.app {
  background: white;
  max-width: 600px;
  margin: 30px auto;
  box-shadow: 0 30px 40px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
  padding: 30px;
}
