body {
  background-color: #eeeeee;

  font-family: "Protest Riot", sans-serif;
  font-weight: 400;
  font-style: normal;

}

#app {
  background: white;
  max-width: 530px;
  margin: 30px auto;
  box-shadow: 0 30px 40px rgba(65, 50, 100, 0.08);
  border-radius: 40px;
  padding: 70px;
}

#input-text {
  background-color: #eeeeee;
  border: none;
  border-radius: 16px;
  padding: 11px;


}



#search-button {
  background-color: #675299;
  border: none;
  border-radius: 16px;
  padding: 11px;
}

footer {
  border-top: 1px solid #eeeeee;
  padding: 20px 0 0 0;
  text-align: center;
  color: #1e1c1c;
  font-size: 14px;
}

a {
  color: #675299;
}

#the-app {
  display: flex;
  justify-content: space-between;
}

main {
  padding: 20px 0;


}

#city {
  margin: 0;
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 30px;
}

strong {
  color: #f65282;

}

.current-temperature-value {
  display: flex;
}

.current-temperature-icon {

  width: 88px;
  height: 88px;
}

#value {
  font-size: 77px;
  line-height: 88px;
  font-weight: bold;
}

.the-weather-unit {
  margin-top: 6px;
  font-size: 28px;
}

.weather-forecast {
  display: flex;
  justify-content: space-between;

}

.icon {
  width: 66px;
  height: 66px;
  margin: 0 auto;


}

.weather-forecast-temperatures {
  text-align: left;
  color: #f65282;
  margin-top: 10px;
  display: flex;
  justify-content: left;

}

.weather-forecast-day {
  text-align: center;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

.the-weather-temp {
  padding: 0 10px;
}